<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrivateNuget" value="https://www.myget.org/F/bornlogic-facebook-common/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateNuget>
      <add key="Username" value="mygetbornlogic" />
      <add key="ClearTextPassword" value="65f3bf46-eb2b-4d4d-9ae1-e8cf27c28994" />
    </PrivateNuget>
  </packageSourceCredentials>
</configuration>